services:
  backend:
    build:
      context: ./server
    ports:
      - 5000
    environment:
      MONGO_URI: $MONGO_URI
      JWT_SECRET: $JWT_SECRET
      PORT: 5000
      GEMINI_API_KEY: $GEMINI_API_KEY
      NODE_ENV: $NODE_ENV
    restart: always
    networks:
      - competiquest-network

  frontend:
    build:
      context: ./client/CompetiQuest-frontend_integration
      args:
        NEXT_PUBLIC_API_URL: $NEXT_PUBLIC_API_URL
    ports:
      - 3000
    environment:
      NEXT_PUBLIC_API_URL: $NEXT_PUBLIC_API_URL
      NODE_ENV: $NODE_ENV
    depends_on:
      - backend
    restart: always
    networks:
      - competiquest-network

networks:
  competiquest-network:
    driver: bridge
